*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}

body{
    font-family: 'League Spartan', sans-serif;
}

/*header*/

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
}

.main{
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "header"
    "cta"
    "img1"
    "about"
    "img2";
}

.hero{
    grid-area: header;
    width: 100vw;
    height: 500px;
    background-image: url(images/desktop-image-hero-1.jpg);
    background-position: center;
    background-size: cover;
}

.hero__nav{
    display: flex;
}

.nav__links{
    display: none;
}

.nav__logo{
    margin: 0 auto;
}

/*controls*/

.main__controls{
    grid-area: header;
    align-self: end;
    justify-self: end;
    width: 100px;
    height: 50px;
    background-color: var(--Black);
    display: flex;
    
}

.main__control{
    padding: 15px 20px;
    margin: 0;
}

.main__control:hover{
    background-color: var(--Dark-Gray);
}


/*body*/

.main__body{
    width: 90%;
    margin: 40px auto;
    grid-area: cta;
}

.title{
    font-size: 2rem;
}

.paragraph{
    line-height: 1.5;
    margin: 1em 0 2em;
    color: var(--Dark-Gray);
}

.body__cta{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Very-Dark-Gray);
    letter-spacing: 4px;
}

.cta__img{
    margin-left: 20px;
}

/*img1*/

.img1{
    width: 100%;
}

/*about*/

.main__about{
    width: 90%;
    margin: 30px auto;
    grid-area: about;
}

.about__title{
    font-size: 1.3rem;
    letter-spacing: 6px;
}

.img2{
    width: 100%;
}

@media (min-width: 375px){

    .main{
        width: 100vw;
        max-width: none;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: 
        "header header header header cta cta cta"
        "header header header header cta cta cta"
        "img1 img1 about about about img2 img2";
    }

    .hero{
        grid-area: header;
        width: 100%;
        height: 500px;
        background-image: url(images/desktop-image-hero-1.jpg);
        background-position: center;
        background-size: cover;
    }
    
    
    .nav__links{
        padding: 0;
        display: flex;
        justify-content: space-around;
        gap: 1em;
        margin-left: 10%;
    }
    
    .nav__list{
        list-style: none;
    }

    .nav__link{
        text-decoration: none;
        color: var(--White);
    }

    .nav__hamburger{
        display: none;
    }
    
    .nav__logo{
        margin: 0;
    }
    
    /*controls*/
    
    .main__controls{
        grid-area: cta;
        justify-self: start;
        width: 100px;
        height: 5   0px;
        background-color: var(--Black);
        display: flex;
        
    }
    
    .main__control{
        padding: 15px 20px;
        margin: 0;
    }
    
    .main__control:hover{
        background-color: var(--Dark-Gray);
    }
    
    
    /*body*/
    
    .main__body{
        width: 90%;
        margin: 40px auto;
        grid-area: cta;
    }
    
    .title{
        font-size: 2rem;
    }
    
    .paragraph{
        line-height: 1.5;
        margin: 1em 0 2em;
        color: var(--Dark-Gray);
    }
    
    .body__cta{
        text-decoration: none;
        text-transform: uppercase;
        color: var(--Very-Dark-Gray);
        letter-spacing: 4px;
    }
    
    .cta__img{
        margin-left: 20px;
    }
    
    /*img1*/
    
    .img1{
        grid-area: img1;
        width: 100%;
    }
    
    /*about*/
    
    .main__about{
        width: 90%;
        margin: 30px auto;
        grid-area: about;
    }
    
    .about__title{
        font-size: 1.3rem;
        letter-spacing: 6px;
    }
    
    .img2{
        grid-area: img2;
        width: 100%;
    }
}